@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
body{
    font-family: "Inter", sans-serif;
    background: black;
   
}
*{
    margin: 0;
    padding: 0;
}


.container{
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 95px 120px 0px 120px;
   

}
h3{
    color: rgb(230, 83, 60);
font-size: 2.25rem;
font-weight: 800;

}
.nav-options{
    width: 460px;
    display: flex;
   justify-content: space-evenly;
    height: 46px;
    border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 39px;
justify-content: center;
align-items: center;
margin-bottom: 32px;

}
.nav-options>p{
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
font-weight: 400;
align-items: center;
margin-right: 45px;


}
.orange{
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
font-weight: 600;
    border-radius: 46px;
background: rgb(230, 83, 60);
padding: 8px 20px 8px 20px;


}

.shape{
 display: flex;
 margin-bottom: 100px;

}
.left{
    width: 35%;
    margin-left: 120px;
    margin-top: 96px;
    margin-right: 170px;
}
h2{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 4.5rem ;
font-weight: 900;
margin-bottom: 28px;
}
.shp{
font-family: 'Miama', sans-serif;
font-size: 5rem ;
}
.grey{
    color: rgba(255, 255, 255, 0.5);
font-size: 1rem;
font-weight: 400;
}
.btn{
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
font-weight: 600;
    border-radius: 42px;
    border: none;
background: rgb(230, 83, 60);
padding: 16px 40px 16px 40px;
margin-top: 28px;

}
.app{
    color: rgb(255, 255, 255);
font-size: 1.125rem;
font-weight: 600;
background: black;
    border: 1px solid rgb(255, 255, 255);
border-radius: 42px;
padding: 16px 40px 16px 40px;
margin-left: 14px;
}

.right{
    margin-bottom: 100px;
}
.bars{
    display: none;
}

.vdo{
    width: 206px;
height: 96px;
display: flex;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
background: rgba(48, 48, 48, 0.54);
margin-top: -163px;
margin-left: -100px;
backdrop-filter: blur(20px);
}
.dot{
    width: 40px;
    height: 40px;
    background: rgb(230, 83, 60);
  
    border-radius: 50%;
    margin-left: 23px;
    margin-top: 28px;
}
.high{
    color: rgb(250, 250, 249);
font-family: Inter;
font-size: 24px;
font-weight: 900;

}
.vdo p{
    width: 108px;
    height: 56px;
    margin-top: 20px;
    margin-left: 8px;
    color: rgba(239, 237, 232, 0.65);
font-family: Inter;
font-size: 16px;
font-weight: 400;
}

.work{
    width: 193px;
height: 98px;
margin-top: -398px;
margin-left: 240px;
    box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
backdrop-filter: blur(20px);
background: rgba(255, 255, 255, 0.1);
}
.high2{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 40px;
font-weight: 900;
}
.work p{
    color: rgba(255, 255, 255, 0.65);
font-family: Inter;
font-size: 13px;
font-weight: 400;
margin-top: 17px;
margin-left: 24px;
}

.habit{
    width: 75%;
    margin-left: 150px;
    margin-bottom: 100px;
}
.img-container{
    width: 75%;
height: 274px;
display: flex;
gap: 40px;

}

h1{

    text-align: center;
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 3rem;
font-weight: 900;
}
.cntr{
    text-align: center;

    width: 70%;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.5);
font-size: 1rem;
font-weight: 400;

margin-bottom: 58px;
}

.info{
justify-content: center;
    width: 230px;
height: 274px;

}
.info > img{
    border-radius: 50%;
    margin-left: 25px
    
     
}

h5{
    color: rgb(255, 255, 255);
    text-align: center;
font-family: Inter;
font-size: 18px;
font-weight: 600;
margin-top: 30px;
margin-bottom: 6px;
}
.subtle{
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    width: 230px;
    
}
.run{
    display: flex;
    width: 75%;
    margin-left: 155px;
    border-radius: 18px;
background: rgb(34, 34, 34);
height: 371px;
margin-bottom: 100px;
}

.mile{
    width: 38%;
    margin-left: 54px;
    padding-top:  10px;
    margin-right: 175px;
    
}

h4{
margin-top: 41px;
margin-bottom: 14px;
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 3rem;
font-weight: 900;

}

.jogging > img{
    
margin-top: 30px;
    border-radius: 18px;
}
.product{
    width: 77%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 78px;
}
.equipments{
    width: 95%;
    margin: auto;
   
}

.row{

    display: grid;
    grid-template-columns: repeat(3, 290px);
    gap: 20px;
}
.col{
width: 270px;
background-color: rgb(25, 27, 27);
margin-bottom: 30px;
padding: 5px 0px 5px 25px;
/* border: 2px solid sienna; */
box-shadow: 10px 5px 20px 10px rgba(231, 71, 178, 0.15);


}

.col:hover{
    transform: scale(1.05);
}

.col img{
    
    width: 90%;
    

    align-self: center;
    
   
}

.pr-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.price{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.15rem;
    font-weight: 300;
}
.rating {
    color: #FFE234;
}
 .btn:hover , .app:hover{
    transform: scale(1.15);
 }


 .bmi-calculator-section {
    width: 100%;
    margin-bottom: 88px;
}

.container-two {
    width: 60%;
    margin: 0 auto;
    display: block;
    
}
.container-two h1{
    margin-left: -210px;
}
.txt-left{
text-align: left;
}

.bmi-content {
    background: rgb(34, 34, 34);
    height: 487px;
    display: flex;
    
    
}

.bmi-chart{
    background: rgb(34, 34, 34);
  
    border-radius: 8px;
    width: 45%;
    margin-right: 170px;
}

.bmi-calculator {
    width: 577px;
    background: rgb(34, 34, 34);
    
 margin-right: 177px;
   
}

.bmi-chart h2 {
    margin-top: 52px;
    margin-left: 175px;
    margin-bottom: 52px;
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 28px;
font-weight: 900;
}

.bmi-calculator h2 {
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 28px;
font-weight: 900;
    margin-top: 52px;
    margin-bottom: 14px;
}


table {
    width: 310px;
height: 216px;
margin-left: 170px;
border: 1px solid rgba(255, 255, 255, 0.1);
border-collapse: collapse; 
   
}

table th{
    padding: 12px;
    text-align: left;
    border: 1px solid rgba(255, 255, 255, 0.1 ); 
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 16px;
font-weight: 500;
}


table td {
    padding: 12px;
    text-align: left;
    border: 1px solid rgba(255, 255, 255, 0.1); 
    
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
}

.bmi-calculator p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 34px;
}

.input-group {
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

input,
select {
    color: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
background-color: rgba(255, 255, 255, 0.1);
padding: 12px 40px 12px 20px;
width: 100%;
border: none;
  
}








.team{
    width: 77%;
    margin-left: 150px;
    margin-bottom: 88px;
}

.team-container{
    width: 96%;
    height: 604px;
    border-radius: 18px;
background: rgba(255, 255, 255, 0.1);
margin-left: 25px;
display: grid;
grid-template-columns: repeat(3, 305px);
grid-template-rows: repeat(2, 272px);
gap: 20px;



}

.information{
    
    /* width: 305.6px;
    height: 272px; */
    width: 325.6px;
    height: 292px;

}

.information > img{
width: 305.6px;
height: 272px;
border-radius: 18px;
margin-top: 20px;
margin-left: 20px;

}

.name{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 1.5rem;
font-weight: 900;
margin-top: -75px;
margin-left: 35px;
}

.train{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
margin-left: 35px;
margin-top: 5px;
}




footer {
    background: rgba(255, 255, 255, 0.1);
    color: white;
    height: 489px;
   
}

.footer-content {
    width: 75%;
    height: 315px;
    display: flex;
    justify-content: space-between;
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 79px;
    

   
   
}

.footer-logo h1 {
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 70px;
    font-weight: 800;
    text-align: left;
    
}

.footer-logo p {
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
    max-width: 400px;
   margin-top: 20px;
}

.footer-links , .footer-logo{
   margin-top: 66px;
}

.footer-links h2 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 39px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 15px;
}

.footer-links ul li a {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    
}

.footer-bottom {
    text-align: center;
    width: 73%;
    margin-left: auto;
    margin-right: auto;
    border-top:  2px solid rgba(255, 255, 255, 0.1);
    
   
}

.footer-bottom p {
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 20px;
font-weight: 400;
margin-top: 36px;
margin-bottom: 35px;
}








@media screen and (max-width:576px) {
    .nav-options{
        display: none;
        
    }
    h3{
        margin-left: 20px;
    }
    .container{
       
        width: 80%;
        margin: 52px 20px 52px 20px;
    }
    .bars{

        display: block;

        
    }
    .bars i {
        margin-top: 10px;
  color: white;
    }
    
    .shape{
        flex-direction: column;
        
    }
    .left{
        width: 80%;
        margin-top: 0px;
        margin: auto;
        margin-bottom: 55px;
    }
    h2{
        width: 260px;
        height: 129px;
    font-size: 2.25rem ;
    font-weight: 900;
    margin-top: 10px;
    }
    .shp{
    font-size: 2.5rem ;
    }
    .grey{
        width: 274px;
        height: 96px;
    font-size: 16px;
    
    }
    .hide{
        display: none;
    }
    .btn{
        
        font-size: 12px;
    font-weight: 600;
        padding: 16px 40px 16px 40px;
    margin-top: 28px;
    margin-right: 12px;
    
    }
    .app{
        
        font-size: 12px;
 padding: 16px 40px 16px 40px;
    margin-left: 0px
    }

.right  {
    height: 478px;
margin-left: 20px;
margin-right: 20px;

}

.vdo{
    width: 155.74px;
    height: 72.58px;
margin-top: -263px;
margin-left: -10px;
backdrop-filter: blur(20px);
}
.dot{
    width: 30px;
height: 27px;

margin-top: 20px;
}

.vdo p{
    font-size: 12.1px;
    margin-top: 15px;
    }

.high{
    font-size: 18.14px;

}
.work{
    width: 145.91px;
height: 74.09px;

margin-top: -358px;
margin-left: 190px;
}
.high2{
    font-size: 30.24px;
}
.work p{
    font-size: 9.83px;
    margin-top: 12px;
}

.habit{
    width: 80%;
    height: 1398px;
    margin: auto;

    
}

h1{
    font-size: 2rem;
    margin-top: 20px;
    margin-left: 0px;
    margin-bottom: 14px;
    
}

.cntr{
    width: 80%;
    font-size: 14px;
    margin: auto;
    margin-bottom: 58px;
}

.img-container{
    width: 70%;
    margin: auto;
display: flex;
flex-direction: column;
gap: 40px;
margin-bottom: 66px;
}
.run{
    width: 80%;
    flex-direction: column;
    height: 531px;
    
    margin: 66px auto;
    
}
h4{
    margin-top: 11px;
    font-size: 2rem;
  
   
     }

     
     
     .mile{
        width: 70%;
        
        padding-top:  10px;
        margin-left: 34px;
        margin-right: 34px;
        
    }
    .bok{
        width: 230px;
        font-size: 1.25rem;
      
    }
    .jogging>img {
       
        
     width: 287px;
        height: 170px;
        margin-left: 18px;
        }
        .team{
            width: 90%;
           margin: 66px auto;
        }
        .team-container{
            width: 90%;
            height: 1188px;
            border-radius: 18px;
        background: rgba(255, 255, 255, 0.1);
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
       gap: 20px;
       
     
        }

        .one{
            display: none;
        }
        .mt > img{
           
            margin-top: 0px;
            margin-left: 20px;
            
            }


        .row{

            display: grid;
            grid-template-columns: repeat(1, 290px);
            gap: 20px;
        }

        .container-two h1{
            margin-left: -70px;
            
        }

        .container-two {
            width: 90%;
            margin: 0 auto;
            display: block;
        }
            .bmi-content {
                background: rgb(34, 34, 34);
                height: 720px;
                display: flex;
                flex-direction: column;
            }

            .bmi-chart{
                background: rgb(34, 34, 34);
              
                border-radius: 8px;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
            }
            
            .bmi-calculator {
                width: 90%;
                
                margin-left: auto;
             margin-right: auto;
             margin-bottom: 0px;
               
            }
            .bmi-chart h2 {
                height: 20px;
                margin-top: 34px;
                margin-left: 20px;
                margin-bottom: 23px;
                  font-size: 16px;
            
            }

            table {
                
            margin-left: 20px;
             
            }
            
            .bmi-calculator h2 {
                height: 20px;
                font-size: 16px;
                margin-top: 42px;
                margin-bottom: 14px;
            }



footer {
   width: 100%;
    height: 1000px;
   
}

.footer-content {
    width: 80%;
    height: 715px;
    display: flex;
    flex-direction: column;

    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    }

    .footer-links {
        margin-top: 30px;
     }

     .footer-logo{
        margin-top: 44px;
     }

     .footer-links h2 {
        height: 20px;
        margin-bottom: 39px;
    }

    .footer-bottom {
        text-align: center;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        border-top:  2px solid rgba(255, 255, 255, 0.1);
        
       
    }

}
